*{box-sizing:border-box}body{display:flex;align-items:center;justify-content:center;min-height:100vh;margin:0}button{border:0;background-color:#0ff;border-radius:5px;box-shadow:0 2px 4px rgba(0,0,0,.2);font-size:14px;padding:10px 25px;cursor:pointer}.modal-container{display:flex;background:rgba(0,0,0,.3);align-items:center;justify-content:center;position:fixed;pointer-events:none;top:0;left:125%;height:100vh;width:100vw;transition:.5s all ease-in-out}.modal{background:#fff;width:600px;max-width:100%;padding:30px 50px;border-radius:5px;box-shadow:0 2px 4px rgba(0,0,0,.2);text-align:center}.
active{pointer-events:auto;left:0}.
.
.
.
.
.
.
.....main 
/////
....
/////
main
.....

......
///////
main
///
.....
''
<html lang="en" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/all.min.css">
  <title>يوم التأسيس</title>
  <link rel="icon" href="imgs/icon.png">
</head>

////////////////////////////////
////////////////////////////////////
///////////////////////////////////////////
/////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////
////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////
main
...../////////////////////////////////
////////////////////////////////
////////////////////////////////////
///////////////////////////////////////////
/////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////
////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////
///main
...../////////////////////////////////
////////////////////////////////
////////////////////////////////////
///////////////////////////////////////////
/////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////
////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////
///main
...../////////////////////////////////
////////////////////////////////
////////////////////////////////////
///////////////////////////////////////////
/////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////
////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////
///main
...../////////////////////////////////
////////////////////////////////
////////////////////////////////////
///////////////////////////////////////////
/////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////
////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////
///main
...../////////////////////////////////
////////////////////////////////
////////////////////////////////////
///////////////////////////////////////////
/////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////
////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////
///main
...../////////////////////////////////
////////////////////////////////
////////////////////////////////////
///////////////////////////////////////////
/////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////
////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////
///main
...../////////////////////////////////
////////////////////////////////
////////////////////////////////////
///////////////////////////////////////////
/////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////
////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////
///main
...../////////////////////////////////
////////////////////////////////
////////////////////////////////////
///////////////////////////////////////////
/////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////
////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////
///main
...../////////////////////////////////
////////////////////////////////
////////////////////////////////////
///////////////////////////////////////////
/////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////
////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////
///main
...../////////////////////////////////
////////////////////////////////
////////////////////////////////////
///////////////////////////////////////////
/////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////
////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////
///main
...../////////////////////////////////
////////////////////////////////
////////////////////////////////////
///////////////////////////////////////////
/////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////
////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////
///main
...../////////////////////////////////
////////////////////////////////
////////////////////////////////////
///////////////////////////////////////////
/////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////
////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////
///main
...../////////////////////////////////
////////////////////////////////
////////////////////////////////////
///////////////////////////////////////////
/////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////
////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////
///main
...../////////////////////////////////
////////////////////////////////
////////////////////////////////////
///////////////////////////////////////////
/////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////
////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////
///main
...../////////////////////////////////
////////////////////////////////
////////////////////////////////////
///////////////////////////////////////////
/////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////
////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////
///main
...../////////////////////////////////
////////////////////////////////
////////////////////////////////////
///////////////////////////////////////////
/////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////
////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////
///main
...../////////////////////////////////
////////////////////////////////
////////////////////////////////////
///////////////////////////////////////////
/////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////
////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////
///
.header .nav #navigation li{
  position: relative;
  cursor: pointer;
}
.header .nav #navigation li::before{
  content: '';
  position: absolute;
  bottom: -5px;
  right: 0;
  height: 2px;
  width: 0;
  background-color: #715349;
  transition: .3s;
}.header .nav #navigation li{
  position: relative;
  cursor: pointer;
}
.header .nav #navigation li::before{
  content: '';
  position: absolute;
  bottom: -5px;
  right: 0;
  height: 2px;
  width: 0;
  background-color: #715349;
  transition: .3s;
}.header .nav #navigation li{
  position: relative;
  cursor: pointer;
}
.header .nav #navigation li::before{
  content: '';
  position: absolute;
  bottom: -5px;
  right: 0;
  height: 2px;
  width: 0;
  background-color: #715349;
  transition: .3s;
}.header .nav #navigation li{
  position: relative;
  cursor: pointer;
}
.header .nav #navigation li::before{
  content: '';
  position: absolute;
  bottom: -5px;
  right: 0;
  height: 2px;
  width: 0;
  background-color: #715349;
  transition: .3s;
}.header .nav #navigation li{
  position: relative;
  cursor: pointer;
}
.header .nav #navigation li::before{
  content: '';
  position: absolute;
  bottom: -5px;
  right: 0;
  height: 2px;
  width: 0;
  background-color: #715349;
  transition: .3s;
}.header .nav #navigation li{
  position: relative;
  cursor: pointer;
}
.header .nav #navigation li::before{
  content: '';
  position: absolute;
  bottom: -5px;
  right: 0;
  height: 2px;
  width: 0;
  background-color: #715349;
  transition: .3s;
}.header .nav #navigation li{
  position: relative;
  cursor: pointer;
}
.header .nav #navigation li::before{
  content: '';
  position: absolute;
  bottom: -5px;
  right: 0;
  height: 2px;
  width: 0;
  background-color: #715349;
  transition: .3s;
}.header .nav #navigation li{
  position: relative;
  cursor: pointer;
}
.header .nav #navigation li::before{
  content: '';
  position: absolute;
  bottom: -5px;
  right: 0;
  height: 2px;
  width: 0;
  background-color: #715349;
  transition: .3s;
}.header .nav #navigation li{
  position: relative;
  cursor: pointer;
}
.header .nav #navigation li::before{
  content: '';
  position: absolute;
  bottom: -5px;
  right: 0;
  height: 2px;
  width: 0;
  background-color: #715349;
  transition: .3s;
}.header .nav #navigation li{
  position: relative;
  cursor: pointer;
}
.header .nav #navigation li::before{
  content: '';
  position: absolute;
  bottom: -5px;
  right: 0;
  height: 2px;
  width: 0;
  background-color: #715349;
  transition: .3s;
}.header .nav #navigation li{
  position: relative;
  cursor: pointer;
}
.header .nav #navigation li::before{
  content: '';
  position: absolute;
  bottom: -5px;
  right: 0;
  height: 2px;
  width: 0;
  background-color: #715349;
  transition: .3s;
}.header .nav #navigation li{
  position: relative;
  cursor: pointer;
}
.header .nav #navigation li::before{
  content: '';
  position: absolute;
  bottom: -5px;
  right: 0;
  height: 2px;
  width: 0;
  background-color: #715349;
  transition: .3s;
}.header .nav #navigation li{
  position: relative;
  cursor: pointer;
}
